apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tasky-app.fullname" . }}
  labels:
    {{- include "tasky-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "tasky-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "tasky-app.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
      - name: tasky
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: {{ .Values.mongodb.secretName }}
              key: {{ .Values.mongodb.secretKey }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- with .Values.nodeSelector }}
        nodeSelector:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.affinity }}
        affinity:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.tolerations }}
        tolerations:
          {{- toYaml . | nindent 8 }}
        {{- end }}
